.column-nid { 
	width: 8em; 
}

.meta-box-sortables .inside .welcome-panel { 
	border: none; 
	padding: 0; 
	box-shadow: none; 
}

.post-type-people #titlediv { 
	display: none; 
}

#acf-group_56da0385e1fa1 .acf-label {
	float: right;
	width: 85%;
}

#acf-group_56da0385e1fa1 .acf-input {
	float: left;
	width: 10%;
}

#acf-group_56da0385e1fa1 .acf-bl:after {
	clear: none;
}